.entradaNumerica {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.text {
  color: #555;
  font-size: 1.5rem;
}

.value {
  font-size: 6rem;
}

.butoes {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  margin: 0.3125rem;
  background-color: #dad8da;
  border: none;
}
